# -------------------------------------------------
# macOS
# -------------------------------------------------
.DS_Store

# -------------------------------------------------
# Python cache & artifacts
# -------------------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
build/
dist/

# -------------------------------------------------
# Virtual environments
# -------------------------------------------------
venv/
venv_mlops/

# -------------------------------------------------
# Logs
# -------------------------------------------------
*.log

# -------------------------------------------------
# Data & artifacts
# -------------------------------------------------
data/
*.csv
*.parquet
*.jsonl

# -------------------------------------------------
# ML models
# -------------------------------------------------
models/
training/models/
*.pkl
*.joblib
*.h5
*.onnx
*.pt
*.bin

# -------------------------------------------------
# Jupyter
# -------------------------------------------------
.ipynb_checkpoints/

# -------------------------------------------------
# VS Code
# -------------------------------------------------
.vscode/

# -------------------------------------------------
# Docker artifacts
# -------------------------------------------------
*.tar
*.img
*.dockerfile_backup

# -------------------------------------------------
# System / misc
# -------------------------------------------------
*.swp
*.swo

