# Ignorar archivos innecesarios en el build de Docker
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.git/
.gitignore
*.md
.DS_Store
.pytest_cache/
*.egg-info/
models/*.pkl